

.aside {
    display: flex;
    height: 800px;
    width: 300px;
    background-color:rgb(46, 46, 46);
}

.container {
    display: flex;
    width: 700px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(65, 189, 251);

}


.p {
    color: white;
}