
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;
    margin-top: 0px;
}

.container{
    background-color: rgb(39, 39, 39);
}

.especialidad{
    display: inline-block;
    margin-top: 60px;
    margin-left: 260px;
}

.nomEsp{
    color: white;
    text-align: center;
}

.imgEsp{
    margin-bottom: 17px;
    width: 160px ;
    height: 160px;
}

