
h2{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;
    margin-top: 82px;
}

.container{
    position: absolute;
    width: 1536px;
    height: 722px;
    margin: -8px;
    background-color: rgb(151, 150, 150);
}
.contenedor{
    margin: auto;
    margin-top: -40px;
    background-color: rgb(50, 50, 50);
    width: 80%;
    height: 680px;
}

.especialidadDiv{
    display: inline-block;
    margin-top: 50px;
    margin-left: 153px;
    background-color: rgb(132, 190, 249);
    padding: 20px;
    border-radius: 10px;
}

.nomEspDiv{
    background-color: rgba(0, 128, 0, 0.486);
    width: 130px;
    height: 20px;
    margin: auto;
    margin-top: -20px;
}
.nomEsp{
    margin: auto;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.imgEsp{
    margin: auto;
    margin-bottom: 17px;
    width: 160px ;
    height: 160px;
}
