.container{
    display: flex;
    padding: 0px 15px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: #C1FFFF;
}
.container:hover{
    background-color: #c8c8c8;
    cursor: pointer;

}
.text{
    color: black;
    font-size: 14px;
    text-decoration: none;
    

}
