.container{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #C1FFFF;
    margin: 10px;
    border:0px;
    text-decoration: none;
    font-family: Inter;
    font-size: 1rem;
}
#profile{
    padding: 0px 15px;
}
.container:hover{
    background-color: #c8c8c8;
    cursor: pointer;
}
.container:active{
    color: black;
}
.flex{
    display: flex;
    flex-direction: row;
}