.navLinks {
  list-style: none;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: #333 1px solid;
}

.navLinks li {
  display: inline;
}

.navLinks li a {
  text-decoration: underline;
  color: #333;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
}

.navLinks li a:hover {
  background-color: #ddd;
  cursor: pointer;
}