.container {
  display: flex;
  background-color: rgb(151, 150, 150);
  height: 90vh;
  flex-direction: column;
}
.subContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 10px;
  background-color: rgb(49, 49, 49);
  width: 70%;
  height: 80%;
}
.subContainer p {
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 13pt;
  color: black;
  background-color: white;
  margin: 20px 40px;
  padding: 20px;
}
.subContainer p span {
  font-weight: bold;
  margin-right: 1rem;
}
.btn {
  margin: 0 auto;
  border-radius: 10px;
  background: #c1ffff;
  color: #000;
  font-weight: 400;
  padding: 10px 40px;
}
.btn:hover {
  cursor: pointer;
  background-color: #55ccc9;
  color: white;
}