
.container {
    display: flex;
    width: 1200px;
    height: 800px; 
    margin: 0px auto;

}


.imageContainer {
    width: 70%;
}

.imageContainer img {
    width: 100%;
    height: 100%;


}

.registerMenu {
    background-color: #2E3238;
    width: 30%;
}

.containerTitle {
    width: 100%;
    height: 30%;
    color: rgb(255, 255, 255);
    text-align: center;



}

.containerForm {
    background-color: blueviolet;
    height: 70%;
}



.containerData {
    display: flex;
    background-color: brown;
    flex-direction: column;
    height: 40%;
}

.containerData input {
    margin: 10px 20px;
}

.containerSubmit {
    background-color: coral;
    text-align: center;
    height: 30%;


}

.containerRegister {
    background-color: darkred;
    height: 30%;
} 