
.container {
  display: flex;
  justify-content: center;
  margin: 5rem 0px 3rem 0px;
}

.register {
  background-color: #2E3238;
  width: 20%;

}

.registerTitle {
  display: flex;
  height: 25%;
  align-items: center;
  justify-content: center;
}

.registerTitle h1 {
  color: white;
  font-weight: 500;
  font-size: 2rem;

}

.registerMenu {
  height: 75%;
}

.registerMenuInput {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 50%;
}





.registerMenuButton {
  display: flex;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.registerMenuButton input {
  width: 200px;
  height: 50px;
  background-color: #55CCC9;
}

.registerMenuButton input:hover {
  cursor: pointer;
  background-color: #46a4a1;
}



.registerMenuLink {
  display: flex;
  height: 25%;
  justify-content: center;
  align-items: center;
  color: white;
}

.link {
  text-decoration: none;
}