.container {
  display: flex;
  width: 1200px;
  height: 800px;
  margin: 4% auto;

}
  
.imageContainer {
    width: 70%;
  }
  
.imageContainer img {
    width: 100%;
    height: 100%;
  }
  
.registerMenu {
    background-color: #2e3238;
    width: 37%;
  }
  
.containerTitle {
    display: flex;
    width: 100%;
    height: 30%;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
  }

.containerTitle h1 {
    font-size: 36px;
    font-weight: 400;


  }



  
.form {
    display: flex;
    flex-direction: column;
    height: 70%;
  }
  
.containerSubmit {
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
}

.containerSubmit input:hover {
  cursor: pointer;

}

.submit {
  margin: 10px auto;
  background-color: #55ccc9;
  border: none;
  padding: 10px 90px;
  color: rgb(0, 0, 0);
  font-size: 18px;

}


  
.bottom {
    background-color: aqua;
    border: none;
  }
  
.inputContainer {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 15px 0px;

}



.inputContainer input {
  color: white;
  font-size: 15px;
  margin: 15px 40px;

}


.errorField {
  display: flex;
  color: rgb(252, 56, 56);
  justify-content: left;
  margin: 0px 0px 0px 40px;
}
