
.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5rem 15rem;

}

.containerPanel {
    display:flex;
    width: 25%;
    background-color: #2E3238;
    flex-direction: column;
}

.containerButton {
    display: flex;
    margin: 4.5rem 0px;
    height: 25%;
    text-align: center;
    justify-content: center;

}

.containerButton  button{
    background-color: #C1FFFF;
    width: 15rem;
    border-style: none;
    border-radius: 10px;

}

.containerInfo {
    width: 75%;
    display: flex;

}

.containerInfoText {
    width: 65%;
}

.date {
    margin: 0px 2rem;
    border-radius: 10px;
    background-color: #C1FFFF;
}

.containerImages {
    width: 35%;
    width: 14rem;
}

.containerImages img {
    margin: 10px 10px;
}